@import "tailwindcss";

@theme {
  --animate-float-slow: float 8s ease-in-out infinite;
  --animate-bounce-slow: bounce 8s infinite;
  --animate-spin-slow: spin 20s linear infinite;
  --animate-pulse-slow: pulse 6s infinite;
}

@keyframes float {
  0%, 100% { transform: translateY(0) rotate(0deg); }
  50% { transform: translateY(-20px) rotate(3deg); }
}